<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContactoServlet</servlet-name>
        <servlet-class>com.empresa.mavenj2ee.ContactoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInfo</servlet-name>
        <servlet-class>com.empresa.mavenj2ee.ServletInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactoServlet</servlet-name>
        <url-pattern>/ContactoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfo</servlet-name>
        <url-pattern>/ServletInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
